Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [1]:
tup1 =[ ('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
print("Tuple before sorting")
tup1

Tuple before sorting

[('Sachin Tendulkar', 34357),
 ('Ricky Ponting', 27483),
 ('Jack Kallis', 25534),
 ('Virat Kohli', 24936)]

In [2]:
tup1.sort(key = lambda x : x[1])
print("Tuple after sorting")
tup1

Tuple after sorting

[('Virat Kohli', 24936),
 ('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357)]

Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] #the given list

list(map(lambda x : x**2, l1)) #implementing lambda and map function to find square

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [4]:
l2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] # given List
l3 = tuple(map(lambda x : str(x) , l2)) #lambda function to convert integer to string
l3 # output

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Q4. Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.

In [5]:
from functools import reduce 
l4 = range(1,26)
reduce(lambda x , y : x*y, l4)

15511210043330985984000000

Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [7]:
l5 = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46] #given list
print("Given list")
print(l5)
l11 = list(filter(lambda x : x%2 == 0 and x%3 == 0 , l5)) 
print("List that are divisible by  2 and 3")
l11

Given list
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
List that are divisible by  2 and 3

[6, 60, 90, 120]

Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.
['python', 'php', 'aba', 'radar', 'level']

In [8]:
l6 = ['python', 'php', 'aba', 'radar', 'level']

In [9]:
l7 = list(filter(lambda x : x=="".join(reversed(x)), l6))

In [10]:
l7

['php', 'aba', 'radar', 'level']